name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Rust bits
      run: rustup target add wasm32-wasi
    - name: Build
      run: cargo build --verbose --target wasm32-wasi --release
    - name: Run tests
      run: cargo test --verbose
