name: release
on:
  push:
    branches:
      - main
    tags:
      - "v*"

env:
  ACR_NAME: <%= registryName %>

jobs:
  publish:
    strategy:
      matrix:
        wasi_sdk_version:
        - major: 11
          minor: 0

    name: Build release assets

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Install SwiftWasm
      run: |
        sudo apt-get install \
          binutils \
          git \
          gnupg2 \
          libc6-dev \
          libcurl4 \
          libedit2 \
          libgcc-9-dev \
          libpython2.7 \
          libsqlite3-0 \
          libstdc++-9-dev \
          libxml2 \
          libz3-dev \
          pkg-config \
          tzdata \
          zlib1g-dev
        wget https://github.com/swiftwasm/swift/releases/download/swift-wasm-5.3.0-RELEASE/swift-wasm-5.3.0-RELEASE-ubuntu20.04_x86_64.tar.gz
        sudo tar zxvf swift-wasm-5.3.0-RELEASE-ubuntu20.04_x86_64.tar.gz --directory / --strip-components=1
        sudo chmod -R o+r /usr/lib/swift

    - name: Set the release version (tag)
      if: startsWith(github.ref, 'refs/tags/v')
      shell: bash
      run: echo "RELEASE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
    - name: Set the release version (main)
      if: github.ref == 'refs/heads/main'
      shell: bash
      run: echo "RELEASE_VERSION=canary" >> $GITHUB_ENV

    - name: Build release
      run: SWIFTC=/usr/bin/swift make build

    - name: Install hippofactory
      run: |
        mkdir -p tools/tmp
        wget https://github.com/deislabs/hippofactory/releases/download/v0.2.0/hippofactory-v0.1.0-linux-amd64.tar.gz -q -O ./tools/tmp/hippofactory.tar.gz
        tar xf ./tools/tmp/hippofactory.tar.gz -C ./tools

    - name: Publish bindle
      run: ./tools/hippofactory . -v production -o message
