name: release
on:
  push:
    branches:
      - main
    tags:
      - "v*"

env:
  ACR_NAME: <%= registryName %>

jobs:
  publish:
    strategy:
      matrix:
        wasi_sdk_version:
        - major: 11
          minor: 0

    name: Build release assets

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install clang bits
      run: |
        wget https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-${{ matrix.wasi_sdk_version.major }}/wasi-sdk-${{ matrix.wasi_sdk_version.major }}.${{ matrix.wasi_sdk_version.minor }}-linux.tar.gz
        tar xvf wasi-sdk-${{ matrix.wasi_sdk_version.major }}.${{ matrix.wasi_sdk_version.minor }}-linux.tar.gz

    - name: Set the release version (tag)
      if: startsWith(github.ref, 'refs/tags/v')
      shell: bash
      run: echo "RELEASE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
    - name: Set the release version (main)
      if: github.ref == 'refs/heads/main'
      shell: bash
      run: echo "RELEASE_VERSION=canary" >> $GITHUB_ENV

    - name: Build release
      run: make WASI_SDK=wasi-sdk-${{ matrix.wasi_sdk_version.major }}.${{ matrix.wasi_sdk_version.minor }}

    - name: Install hippofactory
      run: |
        mkdir -p tools/tmp
        wget https://github.com/deislabs/hippofactory/releases/download/v0.2.0/hippofactory-v0.2.0-linux-amd64.tar.gz -q -O ./tools/tmp/hippofactory.tar.gz
        tar xf ./tools/tmp/hippofactory.tar.gz -C ./tools

    - name: Publish bindle (tagged)
      if: startsWith(github.ref, 'refs/tags/v')
      run: ./tools/hippofactory . -v production -o message

    - name: Publish bindle (main)
      if: github.ref == 'refs/heads/main'
      run: USER=canary ./tools/hippofactory . -o message
